html.repositoryThree-pinned{
    padding-left: 300px;
    transition: 0s;
}
html{
    transition: 0s;
}
html{
    min-height: 100vh;
    transition: 0.5s;
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .repositoryThree{
        .settings{
            position: absolute;
            top:10px;
            right: 10px;
            display: flex;
            width: fit-content;
            & > div{
                cursor: pointer;
            }
            .pin{
                svg{
                    fill:white;
                    transition: 0.2s;
                    transform: rotate(45deg);
                }
                &.pinned{
                    svg{
                        transform: rotate(0deg);
                    }
                }
            }
        }
        height: 100vh;
        position: fixed;
        left:-300px;
        right: 0;
        width: 300px;
        z-index: 1000;
        background: #0d1117e0;
        backdrop-filter: blur(2px);
        box-shadow: #00000000 5px -3px 13px;
        transition: 0.5s;
        padding: 15px 10px;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: -10px;
            height: 100vh;
            width: 10px;
        }
        &:after{
            z-index: 998;
            content: "Three View";
            position: absolute;
            top: 50%;
            right: -40px;
            height: 100px;
            width: 40px;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
            writing-mode: vertical-rl;
            display: flex;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            color: white;
            border-right: 1px rgb(48, 54, 61) solid;
            border-top: 1px rgb(48, 54, 61) solid;
            border-bottom: 1px rgb(48, 54, 61) solid;
            font-size: 18px;
            padding: 10px 0;
            opacity: 1;
            background: rgb(22 27 34);
            backdrop-filter: blur(2px);
            box-shadow: rgba(0, 0, 0, 0) 5px -3px 13px;
            transition: 0.5s;
        }
        &:hover{
            left:0;
            box-shadow: #00000059 5px -3px 13px;
            &:after{
                opacity: 0;
                right: 260px;
                transition: 0.5s;
            }
        }
        &.pinned{
            left: 0;
            box-shadow: #00000059 5px -3px 13px;
            &:after{
                opacity: 0;
            }
        }
        &__header{
            &__title{
                text-align: center;
                margin: 20px;
                font-size: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 28px;
            }
            input{
                width: 100%;
                border: 1px #363b42 solid;
                border-radius: 5px;
                padding: 0 10px;
                height: 30px;
                outline: none;
                background: #21262d;
                color:#c4ccd4;
                margin-bottom: 10px;
            }
        }
        &__body{
            width: 100%;
            margin: auto;
            background: #0000003b;
            box-shadow: 7px 7px 9px -4px inset black;
            height: calc(100% - 68px - 40px);
            padding: 10px;
            overflow: scroll;
            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background: transparent;
            }
            &::-webkit-scrollbar-thumb{
                background: black;
                border-radius: 15px;
            }
            &::-webkit-scrollbar-track{
                background: transparent;
            }
            &::-webkit-scrollbar-corner {
                display: none;
            }

            ul{
                list-style: none;
                padding-left: 10px;
                position: relative;
                &:before{
                    content: '';
                    left: -5px;
                    position: absolute;
                    top:-10px;
                    height: 100%;
                    width: 2px;
                    background: white;
                    z-index: 9;
                }
                &:nth-child(1){
                    &:before{
                        content: '';
                        left: -5px;
                        position: absolute;
                        top:-10px;
                        height: 0%;
                        width: 2px;
                        background: white;
                        z-index: 9;
                    }
                }
                li{
                    .folder {
                        text-decoration: none;
                        transition: 0.2s;
                        display: inline-block;
                        -webkit-tap-highlight-color: transparent;
                        outline: none;
                        &:hover{
                            transform: rotate(10deg) scale(1.1);
                        }
                    }
                    cursor: pointer;
                    user-select: none;
                    width: 100%;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    list-style: none;
                    position: relative;
                    z-index: 10;
                    min-height: 20px;
                    transition: 0.5s;
                    white-space: nowrap;
                    &:before{
                        content: '';
                        left: -5px;
                        position: absolute;
                        top:-10px;
                        height: 100%;
                        width: 2px;
                        background: white;
                        z-index: 9;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        left: -5px;
                        top:9px;
                        height: 2px;
                        width: 5px;
                        background: white;
                        z-index: 9;
                    }
                    &:nth-child(1){
                        &:before{
                            content: '';
                            left: -5px;
                            position: absolute;
                            top:0px;
                            height: calc(100% - 10px);
                            width: 2px;
                            background: white;
                            z-index: 9;
                        }
                    }

                }
            }
            li > ul{
                height: 0;
                overflow: hidden;
                transform-origin: 0 0;
                transition: 0.5s;
            }
            li.active > ul{
                height: auto;
            }
            li.hiddenBySearch {
                display: none;
            }

        }
    }
}
